$size-lg-xl: 2.5rem;
$size-medium-lg: 1.5rem;
$size-medium: 1.25rem;
$size-base-larger: 1.006rem;
$size-base: 1rem;
$size-small: 0.875rem;
$size-smaller: 0.75rem;
$size-tiny: 0.5rem;
$size-tinier: 0.25rem;
$size-tiny-xl: 0.125rem;
$size-tiny-xxl: 0.06rem;


// font wieght

$font-weight-tyny: 100;
$font-weight-small: 200;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

// width

$width-base: 33.75rem;
$width-small: 22.5rem